openapi: 3.0.0
info:
  title: Зоомагазин API — Корма и товары для домашних животных
  version: 1.1.0
  description: |
    REST API для онлайн-магазина зоотоваров с поддержкой доставки и самовывоза.
    
   
    
  contact:
    name: Поддержка зоомагазина
    email: support@zooshop.ru
    url: https://zooshop.ru/support
  license:
    name: Proprietary
    url: https://zooshop.ru/license

servers:
  - url: https://api.zooshop.ru/v1
    description: Production сервер
  - url: https://staging-api.zooshop.ru/v1
    description: Staging / Тестирование

tags:
  - name: auth
    description: Аутентификация и регистрация
  - name: users
    description: Профиль пользователя
  - name: products
    description: Каталог товаров
  - name: cart
    description: Корзина
  - name: orders
    description: Заказы
  - name: admin
    description: Административные функции

paths:
  /auth/register:
    post:
      tags: [auth]
      summary: Регистрация пользователя
      operationId: registerUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '201':
          description: Пользователь создан
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          description: Email уже зарегистрирован

  /auth/login:
    post:
      tags: [auth]
      summary: Вход пользователя
      operationId: loginUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Успешный вход
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          description: Неверные учетные данные

  /users/me:
    get:
      tags: [users]
      summary: Получить данные текущего пользователя
      operationId: getCurrentUser
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Данные профиля
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /products:
    get:
      tags: [products]
      summary: Список товаров с фильтрами и пагинацией
      operationId: getProducts
      parameters:
        - name: search
          in: query
          schema: { type: string }
          description: Поиск по названию, бренду, описанию
        - name: categories
          in: query
          schema:
            type: array
            items:
              type: string
              enum: [food, toys, accessories, care, supplements, grooming, litter]
          style: form
          explode: false
          description: Множественный выбор категорий (?categories=food,care)
        - name: animalTypes
          in: query
          schema:
            type: array
            items:
              type: string
              enum: [dog, cat, bird, fish, small_pet, reptile, other]
          style: form
          explode: false
          description: Множественный выбор видов животных
        - name: weights
          in: query
          schema:
            type: array
            items: { type: number, format: double }
          style: form
          explode: false
          description: Точные значения фасовки в кг (?weights=1.5,4,10)
        - name: weightMin
          in: query
          schema: { type: number, format: double }
          description: Минимальный вес фасовки
        - name: weightMax
          in: query
          schema: { type: number, format: double }
          description: Максимальный вес фасовки
        - name: minPrice
          in: query
          schema: { type: number, format: double }
        - name: maxPrice
          in: query
          schema: { type: number, format: double }
        - name: inStock
          in: query
          schema: { type: boolean, default: true }
          description: Только товары в наличии
        - name: sort
          in: query
          schema:
            type: string
            enum: [price_asc, price_desc, name_asc, name_desc, popularity_desc, novelty_desc]
          
        - name: page
          in: query
          schema: { type: integer, minimum: 1, default: 1 }
        - name: limit
          in: query
          schema: { type: integer, minimum: 1, maximum: 100, default: 24 }
      responses:
        '200':
          description: Страница товаров
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductsPage'

  /products/{productId}:
    get:
      tags: [products]
      summary: Детальная информация о товаре
      operationId: getProductById
      parameters:
        - name: productId
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: Карточка товара
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductDetails'
        '404':
          $ref: '#/components/responses/NotFound'

  /cart:
    get:
      tags: [cart]
      summary: Получить корзину
      operationId: getCart
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Содержимое корзины
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cart'

  /cart/items:
    post:
      tags: [cart]
      summary: Добавить товар в корзину
      operationId: addToCart
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CartItemRequest'
      responses:
        '201':
          description: Товар добавлен
        '409':
          description: Недостаточно товара на складе

  /cart/items/{productId}:
    patch:
      tags: [cart]
      summary: Изменить количество
      operationId: updateCartItemQuantity
      security:
        - bearerAuth: []
      parameters:
        - name: productId
          in: path
          required: true
          schema: { type: integer }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [quantity]
              properties:
                quantity: { type: integer, minimum: 1 }
      responses:
        '200':
          description: Обновлено
        '409':
          description: Недостаточно на складе

    delete:
      tags: [cart]
      summary: Удалить позицию
      operationId: removeFromCart
      security:
        - bearerAuth: []
      parameters:
        - name: productId
          in: path
          required: true
          schema: { type: integer }
      responses:
        '204':
          description: Удалено

  /orders:
    post:
      tags: [orders]
      summary: Создать заказ
      description: |
        Создаёт заказ → резервирует товары (уменьшает stock).
        Если недостаточно остатка хотя бы по одному товару → откат, 409.
        После успеха корзина очищается.
      operationId: createOrder
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrderRequest'
      responses:
        '201':
          description: Заказ создан, товары зарезервированы
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '409':
          description: Недостаточно товара на складе
        '400':
          description: Некорректные данные заказа

    get:
      tags: [orders]
      summary: Список заказов пользователя
      operationId: getUserOrders
      security:
        - bearerAuth: []
      parameters:
        - name: page
          in: query
          schema: { type: integer, default: 1 }
        - name: limit
          in: query
          schema: { type: integer, default: 10 }
      responses:
        '200':
          description: Страница заказов
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersPage'

  /orders/{orderId}:
    get:
      tags: [orders]
      summary: Детали заказа
      operationId: getOrderById
      security:
        - bearerAuth: []
      parameters:
        - name: orderId
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Детали заказа
        '404':
          $ref: '#/components/responses/NotFound'

  /orders/{orderId}/cancel:
    post:
      tags: [orders]
      summary: Отменить заказ
      description: |
        Отменяет заказ → освобождает остатки (увеличивает stock).
        Доступно только для статусов: new, processing.
      operationId: cancelOrder
      security:
        - bearerAuth: []
      parameters:
        - name: orderId
          in: path
          required: true
          schema: { type: string }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                reason: { type: string }
      responses:
        '200':
          description: Заказ отменён, остатки освобождены
        '400':
          description: Отмена невозможна (уже собран/доставлен)
        '404':
          $ref: '#/components/responses/NotFound'

  /admin/orders/{orderId}:
    patch:
      tags: [admin]
      summary: Изменить статус заказа (админ)
      description: |
        При смене статуса на cancelled → автоматически освобождаются остатки.
      operationId: updateOrderStatus
      security:
        - bearerAuth: []
      parameters:
        - name: orderId
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status:
                  type: string
                  enum: [new, processing, ready, completed, cancelled]
                comment: { type: string }
      responses:
        '200':
          description: Статус изменён
        '400':
          description: Недопустимый переход статуса

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    # ────────────────────────────────────────────────
    # Auth & User
    # ────────────────────────────────────────────────
    RegisterRequest:
      type: object
      required: [email, password, firstName, phone]
      properties:
        email: { type: string, format: email }
        password: { type: string, minLength: 8 }
        firstName: { type: string }
        lastName: { type: string }
        phone: { type: string, pattern: '^\\+7\\d{10}$' }

    LoginRequest:
      type: object
      required: [email, password]
      properties:
        email: { type: string, format: email }
        password: { type: string }

    AuthResponse:
      type: object
      properties:
        userId: { type: integer }
        email: { type: string }
        firstName: { type: string }
        token: { type: string }
        expiresIn: { type: integer }

    User:
      type: object
      properties:
        id: { type: integer }
        email: { type: string }
        firstName: { type: string }
        lastName: { type: string }
        phone: { type: string }
        role: { type: string, enum: [user, admin] }

    # ────────────────────────────────────────────────
    # Products
    # ────────────────────────────────────────────────
    Product:
      type: object
      properties:
        id: { type: integer }
        name: { type: string }
        brand: { type: string }
        animalType: { type: string }
        category: { type: string }
        price: { type: number, format: double }
        weightKg: { type: number, format: double }
        stock: 
          type: integer
          description: Доступное количество после вычета резервов
        image: { type: string, format: uri }
        rating: { type: number, format: float }

    ProductDetails:
      allOf:
        - $ref: '#/components/schemas/Product'
        - type: object
          properties:
            images: { type: array, items: { type: string, format: uri } }
            description: { type: string }
            composition: { type: string }
            features: { type: array, items: { type: string } }
            storeAvailability:
              type: array
              items:
                $ref: '#/components/schemas/StoreAvailability'

    StoreAvailability:
      type: object
      properties:
        storeId: { type: string }
        name: { type: string }
        address: { type: string }
        quantity: { type: integer }

    ProductsPage:
      type: object
      properties:
        items: 
          type: array
          items: { $ref: '#/components/schemas/Product' }
        pagination:
          type: object
          properties:
            current: { type: integer }
            totalPages: { type: integer }
            totalItems: { type: integer }

    # ────────────────────────────────────────────────
    # Cart
    # ────────────────────────────────────────────────
    CartItemRequest:
      type: object
      required: [productId, quantity]
      properties:
        productId: { type: integer }
        quantity: { type: integer, minimum: 1 }

    CartItem:
      type: object
      properties:
        productId: { type: integer }
        name: { type: string }
        quantity: { type: integer }
        price: { type: number, format: double }
        total: { type: number, format: double }
        image: { type: string, format: uri }

    Cart:
      type: object
      properties:
        items: { type: array, items: { $ref: '#/components/schemas/CartItem' } }
        totalAmount: { type: number, format: double }
        deliveryCost: { type: number, format: double }
        finalAmount: { type: number, format: double }

    # ────────────────────────────────────────────────
    # Orders
    # ────────────────────────────────────────────────
    CreateOrderRequest:
      type: object
      required: [deliveryType, recipient]
      properties:
        deliveryType: { type: string, enum: [pickup, delivery] }
        pickupStoreId: { type: string }
        deliveryAddress:
          $ref: '#/components/schemas/Address'
        recipient:
          $ref: '#/components/schemas/Recipient'
        paymentMethod: { type: string, enum: [online, cash_on_delivery] }
        comment: { type: string }

    Address:
      type: object
      properties:
        city: { type: string }
        street: { type: string }
        house: { type: string }
        apartment: { type: string }
        entrance: { type: string }
        floor: { type: integer }

    Recipient:
      type: object
      required: [firstName, phone]
      properties:
        firstName: { type: string }
        lastName: { type: string }
        phone: { type: string }

    Order:
      type: object
      properties:
        id: { type: string }
        status: 
          type: string
          enum: [new, processing, ready_for_pickup, shipped, delivered, cancelled]
        totalAmount: { type: number, format: double }
        deliveryType: { type: string, enum: [pickup, delivery] }
        items: { type: array, items: { $ref: '#/components/schemas/CartItem' } }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }

    OrdersPage:
      type: object
      properties:
        items: { type: array, items: { $ref: '#/components/schemas/Order' } }
        pagination:
          type: object
          properties:
            current: { type: integer }
            totalPages: { type: integer }
            totalItems: { type: integer }

    # ────────────────────────────────────────────────
    # Common
    # ────────────────────────────────────────────────
    Error:
      type: object
      properties:
        message: { type: string }
        code: { type: string }
        details: { type: object, additionalProperties: true }

  responses:
    BadRequest:
      description: Некорректный запрос
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Требуется авторизация
    NotFound:
      description: Ресурс не найден