openapi: 3.0.0
info:
  title: Зоомагазин API — Корма и товары для домашних животных
  version: 1.4.0
  description: |
    
  contact:
    name: Поддержка зоомагазина
    email: support@zooshop.ru
    url: https://zooshop.ru/support

servers:
  - url: https://api.zooshop.ru/v1
    description: Production сервер

tags:
  - name: auth
    description: Аутентификация и регистрация
  - name: users
    description: Профиль пользователя
  - name: products
    description: Каталог товаров
  - name: cart
    description: Корзина
  - name: orders
    description: Заказы и управление ими
  - name: admin
    description: Административные функции

paths:
  /auth/register:
    post:
      tags: [auth]
      summary: Регистрация нового пользователя
      operationId: register_user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '201':
          description: Пользователь успешно зарегистрирован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          description: Некорректные данные
        '409':
          description: Email уже занят

  /auth/login:
    post:
      tags: [auth]
      summary: Вход пользователя
      operationId: loginUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Успешный вход
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          description: Неверные учетные данные

  /auth/admin/login:
    post:
      tags: [auth, admin]
      summary: Вход администратора
      operationId: loginAdmin
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Успешный вход в админ-панель
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '403':
          description: Недостаточно прав

  /users/me:
    get:
      tags: [users]
      summary: Получить данные текущего пользователя
      operationId: getCurrentUser
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Данные профиля
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserWithAddress'
        '401':
          description: Не авторизован

  /products:
    get:
      tags: [products]
      summary: Получить список товаров с фильтрами
      operationId: getProducts
      parameters:
        - name: search
          in: query
          schema: { type: string }
          description: Поиск по названию, бренду, описанию

        - name: category_ids
          in: query
          description: ID категорий из таблицы categories (множественный выбор)
          schema:
            type: array
            items: { type: integer }
          style: form
          explode: false
          example: [1,5,12]

        - name: animal_type_ids
          in: query
          description: ID видов животных из таблицы animal_types
          schema:
            type: array
            items: { type: integer }
          style: form
          explode: false
          example: [2,3]

        - name: brand_ids
          in: query
          description: ID брендов из таблицы brands
          schema:
            type: array
            items: { type: integer }
          style: form
          explode: false
          example: [4,7,15]

        - name: weights
          in: query
          description: Точные значения фасовки в кг
          schema:
            type: array
            items: { type: number, format: double }
          style: form
          explode: false

        - name: weightMin
          in: query
          schema: { type: number, format: double }
        - name: weightMax
          in: query
          schema: { type: number, format: double }

        - name: minPrice
          in: query
          schema: { type: number, format: double }
        - name: maxPrice
          in: query
          schema: { type: number, format: double }

        - name: sort
          in: query
          schema:
            type: string
            enum: [price_asc, price_desc, name_asc, name_desc, popularity_desc, novelty_desc]
        - name: page
          in: query
          schema: { type: integer, minimum: 1, default: 1 }
        - name: limit
          in: query
          schema: { type: integer, minimum: 1, maximum: 100, default: 24 }
      responses:
        '200':
          description: "Получение товаров с фильтрацией по бренду/категории/типу"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductsPage'

  /products/{productId}:
    get:
      tags: [products]
      summary: Детальная информация о товаре
      operationId: getProductById
      parameters:
        - name: productId
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: Полная карточка товара
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductDetailsWithVariants'
        '404':
          description: Товар не найден

  /categories:
    get:
      tags: [products]
      summary: Получить все категории товаров
      operationId: getCategories
      description: Возвращает список всех активных категорий из таблицы categories
      responses:
        '200':
          description: Список категорий
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Category'

  /animal-types:
    get:
      tags: [products]
      summary: Получить все виды животных
      operationId: getAnimalTypes
      description: Список видов животных из таблицы animal_types
      responses:
        '200':
          description: Список видов животных
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AnimalType'

  /brands:
    get:
      tags: [products]
      summary: Получить все бренды
      operationId: getBrands
      description: Список брендов из таблицы brands
      responses:
        '200':
          description: Список брендов
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Brand'

  /cart:
    get:
      tags: [cart]
      summary: Получить корзину текущего пользователя
      operationId: getCart
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Содержимое корзины
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cart'
    delete:
      tags: [cart]
      summary: Полностью очистить корзину текущего пользователя
      operationId: clearCart
      security:
        - bearerAuth: []
      responses:
        '204':
          description: Корзина успешно очищена (все товары удалены)
        '401':
          description: Не авторизован

  /cart/items:
    post:
      tags: [cart]
      summary: Добавить товар в корзину
      operationId: addToCart
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CartItemRequest'
      responses:
        '201':
          description: Товар добавлен
        '409':
          description: Недостаточно товара на складе

  /cart/items/{productId}:
    patch:
      tags: [cart]
      summary: Изменить количество товара в корзине
      operationId: updateCartItemQuantity
      security:
        - bearerAuth: []
      parameters:
        - name: productId
          in: path
          required: true
          schema: { type: integer }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [quantity]
              properties:
                quantity:
                  type: integer
                  minimum: 1
      responses:
        '200':
          description: Количество обновлено
        '409':
          description: Недостаточно товара

    delete:
      tags: [cart]
      summary: Удалить товар из корзины
      operationId: removeFromCart
      security:
        - bearerAuth: []
      parameters:
        - name: productId
          in: path
          required: true
          schema: { type: integer }
      responses:
        '204':
          description: Товар удалён из корзины

  /orders:
    post:
      tags: [orders]
      summary: Создать заказ
      description: |
        Создаёт заказ на основе корзины.
        Автоматически резервирует товары (уменьшает stock).
        Если недостаточно хотя бы одного товара — откат, 409.
        После успеха корзина очищается.
      operationId: createOrder
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrderRequest'
      responses:
        '201':
          description: Заказ создан, товары зарезервированы
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '409':
          description: Недостаточно товара на складе
        '400':
          description: Некорректные данные заказа

    get:
      tags: [orders]
      summary: Список заказов текущего пользователя
      operationId: getUserOrders
      security:
        - bearerAuth: []
      parameters:
        - name: page
          in: query
          schema: { type: integer, default: 1 }
        - name: limit
          in: query
          schema: { type: integer, default: 10 }
      responses:
        '200':
          description: Страница заказов
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersPage'

  /orders/{orderId}:
    get:
      tags: [orders]
      summary: Детали конкретного заказа
      operationId: getOrderById
      security:
        - bearerAuth: []
      parameters:
        - name: orderId
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Детали заказа
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '404':
          description: Заказ не найден

  /orders/{orderId}/cancel:
    post:
      tags: [orders]
      summary: Отменить заказ
      description: |
        Отменяет заказ и освобождает зарезервированные остатки.
        Возможно только для статусов new и processing.
      operationId: cancelOrder
      security:
        - bearerAuth: []
      parameters:
        - name: orderId
          in: path
          required: true
          schema: { type: string }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
      responses:
        '200':
          description: Заказ отменён, остатки освобождены
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '400':
          description: Отмена невозможна (уже собран / доставлен)
        '404':
          description: Заказ не найден

  # Админ-функции
  /admin/products:
    post:
      tags: [admin]
      summary: Создать новый товар (с возможностью сразу указать варианты фасовки)
      operationId: createProduct
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductCreateRequest'
      responses:
        '201':
          description: Товар создан (и варианты, если были переданы)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductWithVariants'
        '400':
          description: Некорректные данные
        '409':
          description: Конфликт (например, sku уже существует)

  /admin/products/{productId}/variants:
    post:
      tags: [admin]
      summary: Добавить новый вариант фасовки к существующему товару
      operationId: addProductVariant
      security:
        - bearerAuth: []
      parameters:
        - name: productId
          in: path
          required: true
          schema: { type: integer }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductVariantCreateRequest'
      responses:
        '201':
          description: Вариант добавлен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductVariant'
        '404':
          description: Товар не найден
        '409':
          description: Конфликт (sku или barcode уже занят)

  /admin/products/{productId}/variants/{variantId}:
    put:
      tags: [admin]
      summary: Обновить конкретный вариант фасовки товара
      operationId: updateProductVariant
      security:
        - bearerAuth: []
      parameters:
        - name: productId
          in: path
          required: true
          schema: { type: integer }
        - name: variantId
          in: path
          required: true
          schema: { type: integer }
          description: ID записи из таблицы product_variants
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductVariantUpdateRequest'
      responses:
        '200':
          description: Вариант обновлён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductVariant'
        '404':
          description: Товар или вариант не найден
        '409':
          description: Конфликт (например, sku уже занят другим вариантом)
        '400':
          description: Некорректные данные

    delete:
      tags: [admin]
      summary: Удалить вариант фасовки
      operationId: deleteProductVariant
      security:
      - bearerAuth: []
      parameters:
        - name: productId
          in: path
          required: true
          schema: { type: integer }
        - name: variantId
          in: path
          required: true
          schema: { type: integer }
      responses:
        '204':
          description: Вариант удалён
        '404':
          description: Не найден
        '400':
          description: Нельзя удалить последний вариант   

  /admin/products/{productId}:
    put:
      tags: [admin]
      summary: Обновить основные данные товара 
      operationId: updateProduct
      security:
        - bearerAuth: []
      parameters:
        - name: productId
          in: path
          required: true
          schema: { type: integer }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductUpdateRequest'
      responses:
        '200':
          description: Основные данные товара обновлены
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
        '404':
          description: Товар не найден
        '400':
          description: Некорректные данные

    delete:
      tags: [admin]
      summary: Удалить товар
      operationId: deleteProduct
      security:
        - bearerAuth: []
      parameters:
        - name: productId
          in: path
          required: true
          schema: { type: integer }
      responses:
        '204':
          description: Товар удалён

  /admin/orders:
    get:
      tags: [admin]
      summary: Получить все заказы с фильтрацией
      operationId: getAdminOrders
      security:
        - bearerAuth: []
      parameters:
        - name: statusId
          in: query
          description: ID статуса из таблицы status
          schema: { type: integer }
          example: 3

        - name: startDate
          in: query
          schema: { type: string, format: date }
        - name: endDate
          in: query
          schema: { type: string, format: date }
        - name: customerId
          in: query
          schema: { type: integer }
        - name: page
          in: query
          schema: { type: integer, default: 1 }
        - name: limit
          in: query
          schema: { type: integer, default: 50 }
      responses:
        '200':
          description: "Страница заказов"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersPage'

  /admin/orders/{orderId}:
    get:
      tags: [admin]
      summary: Получить полный заказ с данными клиента
      operationId: getOrderWithCustomerDetails
      security:
        - bearerAuth: []
      parameters:
        - name: orderId
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Заказ + данные клиента
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderWithCustomer'

    patch:
      tags: [admin]
      summary: Изменить статус заказа (админ)
      description: При смене на cancelled → автоматически освобождаются остатки
      operationId: updateOrderStatus
      security:
        - bearerAuth: []
      parameters:
        - name: orderId
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status:
                  type: string
                  enum: [processing, ready, completed, cancelled]
                comment:
                  type: string
      responses:
        '200':
          description: Статус обновлён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'

  /order-statuses:
    get:
      tags: [admin]
      summary: Получить все возможные статусы заказов
      operationId: getOrderStatuses
      description: Список статусов из таблицы status
      responses:
        '200':
          description: Список статусов заказов
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OrderStatus'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    RegisterRequest:
      type: object
      required: [email, password, first_name, phone]
      properties:
        email: { type: string, format: email }
        password: { type: string, minLength: 8 }
        first_name: { type: string }
        last_name: { type: string }
        phone: { type: string }

    LoginRequest:
      type: object
      required: [email, password]
      properties:
        email: { type: string, format: email }
        password: { type: string }

    AuthResponse:
      type: object
      properties:
        id: { type: integer }
        email: { type: string }
        first_name: { type: string }
        last_name: { type: string }
        token: { type: string }

    User:
      type: object
      properties:
        id: { type: integer }
        email: { type: string }
        first_name: { type: string }
        last_name: { type: string }
        phone: { type: string }
        role: { type: string, enum: [user, admin] }

    UserWithAddress:
      type: object
      properties:
        id: { type: integer }
        email: { type: string }
        first_name: { type: string }
        last_name: { type: string }
        phone: { type: string }
        role: { type: string, enum: [user, admin] }
        user_address:
          $ref: '#/components/schemas/Address'

    Product:
      type: object
      properties:
        id: { type: integer }
        name: { type: string }
        description: { type: string }
        category_id: { type: integer, description: "ID из таблицы categories" }
        animal_type_id: { type: integer, description: "ID из таблицы animal_types" }
        brand_id: { type: integer, description: "ID из таблицы brands" }
        image: { type: string, format: uri }

    ProductDetails:
      allOf:
        - $ref: '#/components/schemas/Product'
        - type: object
          properties:
            images: { type: array, items: { type: string, format: uri } }
            features: { type: array, items: { type: string } }
            storeAvailability:
              type: array
              items:
                $ref: '#/components/schemas/StoreAvailability'
    
    ProductVariant:
      type: object
      properties:
        id:             { type: integer, description: "ID варианта (первичный ключ product_variants)" }
        weight:         { type: number, format: decimal, example: 1.500 }
        weight_unit:     { type: string, example: "кг", enum: ["г", "кг", "шт", "пачка", "л", "мл"] }
        volume:         { type: number, format: decimal, nullable: true, example: 0.400 }
        volume_unit:     { type: string, nullable: true, example: "л" }
        package_type:    { type: string, nullable: true, example: "пауч" }
        sku:            { type: string, example: "RC-ST37-15KG" }
        barcode:        { type: string, nullable: true }
        price:          { type: number, format: decimal, example: 2890.00 }
        stock:  { type: integer, example: 47, description: "текущее количество на складе" }
        isAvailable:    { type: boolean, example: true }
        photo:       { type: string, format: uri, nullable: true }
        sort_order:      { type: integer, example: 10 }
        createdAt:      { type: string, format: date-time }
        updatedAt:      { type: string, format: date-time, nullable: true }

    ProductWithVariants:
      allOf:
        - $ref: '#/components/schemas/Product'
        - type: object
          properties:
            variants:
              type: array
              items:
                $ref: '#/components/schemas/ProductVariant'

    # Полная карточка товара + варианты
    ProductDetailsWithVariants:
      allOf:
        - $ref: '#/components/schemas/ProductDetails'
        - type: object
          properties:
            variants:
              type: array
              items:
                $ref: '#/components/schemas/ProductVariant'
              description: Все фасовки/варианты данного товара, отсортированные по sort_order
            defaultVariantId:
              type: integer
              nullable: true
              description: ID варианта, который показывается по умолчанию (часто самый дешёвый или самый популярный)
            images:
              type: array
              items: { type: string, format: uri }
              description: Общие фото товара (если есть фото, отличающиеся от вариантов)


    StoreAvailability:
      type: object
      properties:
        storeId: { type: string }
        storeName: { type: string }
        address: { type: string }
        quantity: { type: integer }

    ProductsPage:
      type: object
      properties:
        data: { type: array, items: { $ref: '#/components/schemas/Product' } }
        meta:
          type: object
          properties:
            currentPage: { type: integer }
            perPage: { type: integer }
            total: { type: integer }

    CartItemRequest:
      type: object
      required: [productId, quantity]
      properties:
        productId: { type: integer }
        quantity: { type: integer, minimum: 1 }

    CartItem:
      type: object
      properties:
        productId: { type: integer }
        name: { type: string }
        quantity: { type: integer }
        price: { type: number, format: double }
        total: { type: number, format: double }
        image: { type: string, format: uri }

    Cart:
      type: object
      properties:
        items: { type: array, items: { $ref: '#/components/schemas/CartItem' } }
        totalAmount: { type: number, format: double }
        deliveryCost: { type: number, format: double }
        finalAmount: { type: number, format: double }

    CreateOrderRequest:
      type: object
      required: [deliveryType, recipient]
      properties:
        deliveryType: { type: string, enum: [pickup, delivery] }
        pickupStoreId: { type: string }
        deliveryAddress:
          $ref: '#/components/schemas/Address'
        recipient:
          $ref: '#/components/schemas/Recipient'
        paymentMethod: { type: string, enum: [online, cash_on_delivery] }
        comment: { type: string }

    Address:
      type: object
      properties:
        city: { type: string }
        street: { type: string }
        house: { type: string }
        apartment: { type: string }

    Recipient:
      type: object
      required: [first_name, phone]
      properties:
        first_name: { type: string }
        last_name: { type: string }
        phone: { type: string }

    Order:
      type: object
      properties:
        id: { type: string }
        statusId: { type: integer, description: "ID статуса из таблицы status" }
        totalAmount: { type: number, format: double }
        deliveryType: { type: string, enum: [pickup, delivery] }
        items: { type: array, items: { $ref: '#/components/schemas/CartItem' } }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }

    OrderWithCustomer:
      allOf:
        - $ref: '#/components/schemas/Order'
        - type: object
          properties:
            customer:
              type: object
              properties:
                id: { type: integer }
                email: { type: string }
                first_name: { type: string }
                last_name: { type: string }
                phone: { type: string }

    OrdersPage:
      type: object
      properties:
        data: { type: array, items: { $ref: '#/components/schemas/Order' } }
        meta:
          type: object
          properties:
            currentPage: { type: integer }
            perPage: { type: integer }
            total: { type: integer }

    ProductCreateRequest:
      type: object
      required: [name, brand_id, category_id, animal_type_id]
      properties:
        name:          { type: string, example: "Royal Canin Sterilised 37" }
        description:   { type: string }
        brand_id:       { type: integer }
        category_id:    { type: integer }
        animal_type_id:  { type: integer }
        variants:
          type: array
          items:
            $ref: '#/components/schemas/ProductVariantCreateRequest'
          description: Опционально — сразу создать варианты фасовки
          nullable: true

    ProductUpdateRequest:
      type: object
      properties:
        name:          { type: string, nullable: true }
        description:   { type: string, nullable: true }
        brand_id:       { type: integer, nullable: true }
        category_id:    { type: integer, nullable: true }
        animal_type_id:  { type: integer, nullable: true }
        isActive:      { type: boolean, nullable: true }
    
    ProductVariantCreateRequest:
      type: object
      required: [weight, weight_unit, price, stock, sku]
      properties:
        weight:          { type: number, format: decimal, example: 1.500 }
        weight_unit:      { type: string, example: "кг" }
        volume:          { type: number, format: decimal, nullable: true }
        volume_unit:      { type: string, nullable: true }
        package_type:     { type: string, nullable: true, example: "мешок" }
        sku:             { type: string, example: "RC-ST37-15KG" }
        barcode:         { type: string, nullable: true }
        price:           { type: number, format: decimal, example: 5890.00 }
        stock:           { type: integer, example: 50 }
        isAvailable:     { type: boolean, default: true }
        photo:        { type: string, format: uri, nullable: true }
        sort_order:       { type: integer, default: 0 }

    ProductVariantUpdateRequest:
      type: object
      properties:
        weight:          { type: number, format: decimal, nullable: true }
        weight_unit:      { type: string, nullable: true }
        volume:          { type: number, format: decimal, nullable: true }
        volume_unit:      { type: string, nullable: true }
        package_type:     { type: string, nullable: true }
        sku:             { type: string, nullable: true }
        barcode:         { type: string, nullable: true }
        price:           { type: number, format: decimal, nullable: true }
        stock:   { type: integer, nullable: true }
        isAvailable:     { type: boolean, nullable: true }
        photo:        { type: string, format: uri, nullable: true }
        sort_order:       { type: integer, nullable: true }

    Category:
      type: object
      properties:
        id: 
          type: integer
          example: 5
        name: 
          type: string
          example: "Сухие корма"
        slug: 
          type: string
          example: "suhoj-korm"
        description: 
          type: string
          nullable: true
        isActive: 
          type: boolean
          default: true
        sort_order: 
          type: integer
          example: 10

    AnimalType:
      type: object
      properties:
        id: 
          type: integer
          example: 2
        name: 
          type: string
          example: "Кошки"
        slug: 
          type: string
          example: "koshki"
        icon: 
          type: string
          format: uri
          nullable: true
          example: "https://cdn.zooshop.ru/icons/cat.svg"
        isActive: 
          type: boolean
          default: true

    Brand:
      type: object
      properties:
        id: 
          type: integer
          example: 7
        name: 
          type: string
          example: "Royal Canin"
        slug: 
          type: string
          example: "royal-canin"
        logo: 
          type: string
          format: uri
          nullable: true
        country: 
          type: string
          nullable: true
          example: "Франция"
        isActive: 
          type: boolean
          default: true

    OrderStatus:
      type: object
      properties:
        id: 
          type: integer
          example: 3
        name: 
          type: string
          example: "В сборке"
        code: 
          type: string
          example: "processing"
        color: 
          type: string
          example: "#FFA500"
        description: 
          type: string
          nullable: true
          example: "Заказ собран и готов к выдаче/отправке"
        isFinal: 
          type: boolean
          description: Финальный статус (completed, cancelled и т.п.)
          default: false
        sort_order: 
          type: integer
          example: 30

    Error:
      type: object
      properties:
        message: { type: string }
        code: { type: string }