openapi: 3.0.0
info:
  title: Зоомагазин API
  version: 1.0.0
  description: API для интернет-магазина зоотоваров с самовывозом и доставкой
  contact:
    email: support@zooshop.ru
    name: Поддержка зоомагазина
    url: https://zooshop.ru/support
servers:
  - url: https://api.zooshop.ru/v1
    description: Production сервер
  - url: https://staging-api.zooshop.ru/v1
    description: Staging сервер

tags:
  - name: auth
    description: Аутентификация и регистрация
  - name: users
    description: Управление пользователями
  - name: products
    description: Каталог товаров
  - name: cart
    description: Корзина покупателя
  - name: orders
    description: Оформление и управление заказами
  - name: admin
    description: Административные функции

paths:
  ########################
  # Пользователь / Аутентификация
  ########################
  /auth/register:
    post:
      tags: [auth]
      summary: Регистрация нового пользователя
      operationId: registerUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '201':
          description: Пользователь успешно зарегистрирован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          description: Некорректные данные запроса
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /auth/login:
    post:
      tags: [auth]
      summary: Вход в систему
      operationId: loginUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Успешная аутентификация
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          description: Неверный email или пароль
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /auth/admin/login:
    post:
      tags: [auth, admin]
      summary: Вход в админ-панель
      operationId: loginAdmin
      description: Доступ только для пользователей с ролью admin
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Успешный вход в админку
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '403':
          description: Недостаточно прав
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /users/me:
    get:
      tags: [users]
      summary: Информация о текущем пользователе
      operationId: getCurrentUser
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: Данные пользователя
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'

  ########################
  # Товары и каталог
  ########################
  /products:
    get:
      tags: [products]
      summary: Каталог товаров
      operationId: getProducts
      parameters:
        - name: search
          in: query
          required: false
          schema: { type: string, example: "Royal Canin" }
          description: Поиск по названию, бренду, описанию

        - name: categories
          in: query
          required: false
          description: Фильтр по категориям (можно несколько через запятую)
          schema:
            type: array
            items:
              type: string
              enum: [food, toys, accessories, care, supplements, grooming]
            example: ["food", "care"]
          style: form
          explode: false   # ?categories=food,care

        - name: animalTypes
          in: query
          required: false
          description: Фильтр по видам животных (можно несколько)
          schema:
            type: array
            items:
              type: string
              enum: [dog, cat, bird, fish, small_pet, reptile]
            example: ["cat", "dog"]
          style: form
          explode: false

        - name: weights
          in: query
          required: false
          description: Фильтр по фасовке/весу в кг (можно указать несколько значений или диапазон)
          schema:
            oneOf:
              - type: array
                items:
                  type: number
                  format: double
                  example: 1.5
                example: [1.5, 4.0, 10.0]     # точные значения
              - type: object
                properties:
                  min:
                    type: number
                    example: 2.0
                  max:
                    type: number
                    example: 12.0
          style: deepObject
          explode: true
       
        - name: sort
          in: query
          required: false
          schema: { type: string, enum: [price_asc, price_desc, name_asc, name_desc], example: "price_asc" }
        - name: page
          in: query
          required: false
          schema: { type: integer, minimum: 1, default: 1 }
        - name: limit
          in: query
          required: false
          schema: { type: integer, minimum: 1, maximum: 100, default: 20 }
      responses:
        '200':
          description: Список товаров
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductsPage'

  /products/{productId}:
    get:
      tags: [products]
      summary: Детальная информация о товаре
      operationId: getProductById
      parameters:
        - name: productId
          in: path
          required: true
          schema: { type: integer, example: 56789 }
          description: ID товара
      responses:
        '200':
          description: Информация о товаре и наличие в магазинах
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductDetails'
        '404':
          description: Товар не найден

  ########################
  # Корзина
  ########################
  /cart:
    get:
      tags: [cart]
      summary: Получить корзину
      operationId: getCart
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: Содержимое корзины
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cart'

  /cart/items:
    post:
      tags: [cart]
      summary: Добавить товар в корзину
      operationId: addToCart
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CartItemRequest'
      responses:
        '201':
          description: Товар добавлен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartItem'

  /cart/items/{productId}:
    patch:
      tags: [cart]
      summary: Изменить количество товара
      operationId: updateCartItemQuantity
      security: [{ bearerAuth: [] }]
      parameters:
        - name: productId
          in: path
          required: true
          schema: { type: integer }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [quantity]
              properties:
                quantity:
                  type: integer
                  minimum: 1
                  maximum: 99
                  example: 3
      responses:
        '200':
          description: Количество обновлено
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartItem'
    delete:
      tags: [cart]
      summary: Удалить товар из корзины
      operationId: removeFromCart
      security: [{ bearerAuth: [] }]
      parameters:
        - name: productId
          in: path
          required: true
          schema: { type: integer }
      responses:
        '204':
          description: Товар удален из корзины

  ########################
  # Заказы
  ########################
  /orders:
    post:
      tags: [orders]
      summary: Оформить заказ
      operationId: createOrder
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrderRequest'
      responses:
        '201':
          description: Заказ создан
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'

    get:
      tags: [orders]
      summary: Список заказов пользователя
      operationId: getUserOrders
      security: [{ bearerAuth: [] }]
      parameters:
        - name: page
          in: query
          required: false
          schema: { type: integer, default: 1 }
        - name: limit
          in: query
          required: false
          schema: { type: integer, default: 10 }
      responses:
        '200':
          description: Список заказов
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersPage'

  /orders/{orderId}:
    get:
      tags: [orders]
      summary: Статус и детали заказа
      operationId: getOrderById
      security: [{ bearerAuth: [] }]
      parameters:
        - name: orderId
          in: path
          required: true
          schema: { type: string, example: "ORD-20250210-123456" }
      responses:
        '200':
          description: Информация о заказе
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '404':
          description: Заказ не найден

  /orders/{orderId}/cancel:
    post:
      tags: [orders]
      summary: Отменить заказ
      operationId: cancelOrder
      security: [{ bearerAuth: [] }]
      parameters:
        - name: orderId
          in: path
          required: true
          schema: { type: string }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  example: "Передумал"
      responses:
        '200':
          description: Заказ отменен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '400':
          description: Заказ нельзя отменить

  ########################
  # Администратор
  ########################
  /admin/products:
    post:
      tags: [admin]
      summary: Создать товар
      operationId: createProduct
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductCreateRequest'
      responses:
        '201':
          description: Товар создан
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'

  /admin/products/{productId}:
    put:
      tags: [admin]
      summary: Обновить товар
      operationId: updateProduct
      security: [{ bearerAuth: [] }]
      parameters:
        - name: productId
          in: path
          required: true
          schema: { type: integer }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductUpdateRequest'
      responses:
        '200':
          description: Товар обновлен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
    delete:
      tags: [admin]
      summary: Удалить товар
      operationId: deleteProduct
      security: [{ bearerAuth: [] }]
      parameters:
        - name: productId
          in: path
          required: true
          schema: { type: integer }
      responses:
        '204':
          description: Товар удален

  /admin/orders:
    get:
      tags: [admin]
      summary: Получить все заказы с фильтрацией
      operationId: getAdminOrders
      security: [{ bearerAuth: [] }]
      parameters:
        - name: startDate
          in: query
          required: false
          schema: { type: string, format: date, example: "2026-02-01" }
        - name: endDate
          in: query
          required: false
          schema: { type: string, format: date, example: "2026-02-12" }
        - name: customerId
          in: query
          required: false
          schema: { type: integer }
        - name: status
          in: query
          required: false
          schema: 
            type: string
            enum: [new, processing, ready, completed, cancelled]
        - name: page
          in: query
          required: false
          schema: { type: integer, default: 1 }
        - name: limit
          in: query
          required: false
          schema: { type: integer, default: 50 }
      responses:
        '200':
          description: Список заказов
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersPage'

  /admin/orders/{orderId}:
    get:
      tags: [admin]
      summary: Просмотр заказа с контактами клиента
      operationId: getOrderWithCustomerDetails
      security: [{ bearerAuth: [] }]
      parameters:
        - name: orderId
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Полная информация о заказе и клиенте
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderWithCustomer'

    patch:
      tags: [admin]
      summary: Обновить статус заказа
      operationId: updateOrderStatus
      security: [{ bearerAuth: [] }]
      parameters:
        - name: orderId
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status:
                  type: string
                  enum: [processing, ready, completed, cancelled]
                  example: "processing"
                comment:
                  type: string
                  example: "Передан на сборку"
      responses:
        '200':
          description: Статус обновлен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT токен, полученный при регистрации/входе

  schemas:
    ########## Auth ##########
    RegisterRequest:
      type: object
      required: [email, password, firstName, lastName]
      properties:
        email:    { type: string, format: email, example: "user@example.com" }
        password: { type: string, format: password, minLength: 8, example: "password123" }
        firstName: { type: string, example: "Иван" }
        lastName:  { type: string, example: "Иванов" }

    LoginRequest:
      type: object
      required: [email, password]
      properties:
        email:    { type: string, format: email, example: "user@example.com" }
        password: { type: string, format: password, example: "password123" }

    AuthResponse:
      type: object
      properties:
        id:        { type: integer, example: 123 }
        email:     { type: string, example: "user@example.com" }
        firstName: { type: string, example: "Иван" }
        lastName:  { type: string, example: "Иванов" }
        token:     { type: string, example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOjEyM30" }

    User:
      type: object
      properties:
        id:         { type: integer, example: 123 }
        email:      { type: string, example: "user@example.com" }
        firstName:  { type: string, example: "Иван" }
        lastName:   { type: string, example: "Иванов" }
        phone:      { type: string, example: "+79161234567" }
        role:       { type: string, enum: [user, admin], example: "user" }
        createdAt:  { type: string, format: date-time }

    ########## Products ##########
    Product:
      type: object
      properties:
        id:          { type: integer, example: 56789 }
        name:        { type: string, example: "Royal Canin Sterilised 37" }
        description: { type: string, example: "Корм для стерилизованных кошек" }
        price:       { type: number, format: double, example: 2890.00 }
        brand:       { type: string, example: "Royal Canin" }
        animalType:  { type: string, enum: [dog, cat, bird, fish], example: "cat" }
        category:    { type: string, enum: [food, toys, accessories, care], example: "food" }
        weightKg:    { type: number, format: double, example: 4.0 }
        image:       { type: string, format: uri, example: "https://cdn.zooshop.ru/56789.jpg" }
        stock:       { type: integer, example: 124 }

    ProductDetails:
      allOf:
        - $ref: '#/components/schemas/Product'
        - type: object
          properties:
            images: 
              type: array
              items: { type: string, format: uri }
              example: ["https://cdn.zooshop.ru/56789-1.jpg", "https://cdn.zooshop.ru/56789-2.jpg"]
            features:
              type: array
              items: { type: string }
              example: ["sterilized", "urinary"]
            storeAvailability:
              type: array
              items: { $ref: '#/components/schemas/StoreAvailability' }

    StoreAvailability:
      type: object
      properties:
        storeId:    { type: string, example: "store_1" }
        storeName:  { type: string, example: "Магазин на Ленина" }
        address:    { type: string, example: "ул. Ленина, 10" }
        quantity:   { type: integer, example: 5 }

    ProductsPage:
      type: object
      properties:
        data: 
          type: array
          items: { $ref: '#/components/schemas/Product' }
        meta:
          type: object
          properties:
            currentPage: { type: integer, example: 1 }
            perPage:     { type: integer, example: 20 }
            total:       { type: integer, example: 145 }

    ########## Cart ##########
    CartItemRequest:
      type: object
      required: [productId, quantity]
      properties:
        productId: { type: integer, example: 56789 }
        quantity:  { type: integer, minimum: 1, maximum: 99, example: 2 }

    CartItem:
      type: object
      properties:
        productId: { type: integer, example: 56789 }
        name:      { type: string, example: "Royal Canin Sterilised 37" }
        quantity:  { type: integer, example: 2 }
        price:     { type: number, format: double, example: 2890.00 }
        total:     { type: number, format: double, example: 5780.00 }
        image:     { type: string, example: "https://cdn.zooshop.ru/56789.jpg" }

    Cart:
      type: object
      properties:
        items: 
          type: array
          items: { $ref: '#/components/schemas/CartItem' }
        totalAmount:  { type: number, example: 5780.00 }
        deliveryCost: { type: number, example: 0.00 }
        finalAmount:  { type: number, example: 5780.00 }

    ########## Orders ##########
    CreateOrderRequest:
      type: object
      required: [deliveryType, recipient]
      properties:
        deliveryType:
          type: string
          enum: [pickup, delivery]
          example: "pickup"
        pickupStoreId:
          type: string
          example: "store_1"
          description: Обязательно если deliveryType=pickup
        deliveryAddress:
          $ref: '#/components/schemas/Address'
          description: Обязательно если deliveryType=delivery
        recipient:
          $ref: '#/components/schemas/Recipient'
        paymentMethod:
          type: string
          enum: [online, cash]
          default: "online"
        comment:
          type: string
          example: "Позвоните за 15 минут"

    Address:
      type: object
      properties:
        city:      { type: string, example: "Москва" }
        street:    { type: string, example: "Ленинский пр." }
        house:     { type: string, example: "42" }
        apartment: { type: string, example: "15" }

    Recipient:
      type: object
      required: [firstName, phone]
      properties:
        firstName: { type: string, example: "Анна" }
        lastName:  { type: string, example: "Смирнова" }
        phone:     { type: string, example: "+79161234567" }

    Order:
      type: object
      properties:
        id:           { type: string, example: "ORD-20250210-123456" }
        status:       
          type: string
          enum: [new, processing, ready, completed, cancelled]
          example: "new"
        totalAmount:  { type: number, example: 5780.00 }
        deliveryType: { type: string, enum: [pickup, delivery], example: "pickup" }
        pickupStore:  { type: string, example: "Магазин на Ленина, 10" }
        pickupCode:   { type: string, example: "A1B2C3" }
        items:
          type: array
          items: { $ref: '#/components/schemas/CartItem' }
        createdAt:    { type: string, format: date-time }
        updatedAt:    { type: string, format: date-time }

    OrderWithCustomer:
      allOf:
        - $ref: '#/components/schemas/Order'
        - type: object
          properties:
            customer:
              type: object
              properties:
                email:     { type: string, example: "user@example.com" }
                firstName: { type: string, example: "Анна" }
                lastName:  { type: string, example: "Смирнова" }
                phone:     { type: string, example: "+79161234567" }

    OrdersPage:
      type: object
      properties:
        data: 
          type: array
          items: { $ref: '#/components/schemas/Order' }
        meta:
          type: object
          properties:
            currentPage: { type: integer, example: 1 }
            perPage:     { type: integer, example: 20 }
            total:       { type: integer, example: 8 }

    ########## Admin Products ##########
    ProductCreateRequest:
      type: object
      required: [name, price, stock, brand, animalType, category]
      properties:
        name:        { type: string, example: "Acana Grasslands Dog" }
        description: { type: string, example: "Беззерновой корм для собак" }
        price:       { type: number, example: 4500.00 }
        stock:       { type: integer, example: 50 }
        brand:       { type: string, example: "Acana" }
        animalType:  { type: string, enum: [dog, cat, bird, fish], example: "dog" }
        category:    { type: string, enum: [food, toys, accessories, care], example: "food" }
        weightKg:    { type: number, example: 11.4 }
        features:    
          type: array
          items: { type: string }
          example: ["grain-free", "high-protein"]
        image:       { type: string, format: uri, example: "https://cdn.zooshop.ru/acana-dog.jpg" }

    ProductUpdateRequest:
      type: object
      properties:
        name:        { type: string, example: "Acana Grasslands Dog (обновлен)" }
        description: { type: string, example: "Новое описание" }
        price:       { type: number, example: 4700.00 }
        stock:       { type: integer, example: 45 }
        isActive:    { type: boolean, example: true }
        image:       { type: string, format: uri }

    ########## Common ##########
    Error:
      type: object
      properties:
        message: { type: string, example: "Email уже зарегистрирован" }
        code:    { type: string, example: "EMAIL_EXISTS" }

security:
  - bearerAuth: []