openapi: 3.0.0
info:
  title: Зоомагазин API — Корма и товары для домашних животных
  version: 1.2.0
  description: |
    
  contact:
    name: Поддержка зоомагазина
    email: support@zooshop.ru
    url: https://zooshop.ru/support

servers:
  - url: https://api.zooshop.ru/v1
    description: Production сервер

tags:
  - name: auth
    description: Аутентификация и регистрация
  - name: users
    description: Профиль пользователя
  - name: products
    description: Каталог товаров
  - name: cart
    description: Корзина
  - name: orders
    description: Заказы и управление ими
  - name: admin
    description: Административные функции

paths:
  /auth/register:
    post:
      tags: [auth]
      summary: Регистрация нового пользователя
      operationId: registerUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '201':
          description: Пользователь успешно зарегистрирован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          description: Некорректные данные
        '409':
          description: Email уже занят

  /auth/login:
    post:
      tags: [auth]
      summary: Вход пользователя
      operationId: loginUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Успешный вход
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          description: Неверные учетные данные

  /auth/admin/login:
    post:
      tags: [auth, admin]
      summary: Вход администратора
      operationId: loginAdmin
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Успешный вход в админ-панель
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '403':
          description: Недостаточно прав

  /users/me:
    get:
      tags: [users]
      summary: Получить данные текущего пользователя
      operationId: getCurrentUser
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Данные профиля
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          description: Не авторизован

  /products:
    get:
      tags: [products]
      summary: Получить список товаров с фильтрами
      operationId: getProducts
      parameters:
        - name: search
          in: query
          schema: { type: string }
          description: Поиск по названию / бренду / артикулу
        - name: categories
          in: query
          schema:
            type: array
            items:
              type: string
              enum: [food, toys, accessories, care, supplements, grooming, litter]
          style: form
          explode: false
          description: Несколько категорий через запятую
        - name: animalTypes
          in: query
          schema:
            type: array
            items:
              type: string
              enum: [dog, cat, bird, fish, small_pet, reptile, other]
          style: form
          explode: false
        - name: weights
          in: query
          schema:
            type: array
            items: { type: number, format: double }
          style: form
          explode: false
          description: Точные значения фасовки (кг)
        - name: weightMin
          in: query
          schema: { type: number, format: double }
        - name: weightMax
          in: query
          schema: { type: number, format: double }
        - name: sort
          in: query
          schema:
            type: string
            enum: [price_asc, price_desc, name_asc, name_desc, popularity_desc, novelty_desc]
        - name: page
          in: query
          schema: { type: integer, minimum: 1, default: 1 }
        - name: limit
          in: query
          schema: { type: integer, minimum: 1, maximum: 100, default: 24 }
      responses:
        '200':
          description: Страница товаров
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductsPage'

  /products/{productId}:
    get:
      tags: [products]
      summary: Детальная информация о товаре
      operationId: getProductById
      parameters:
        - name: productId
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: Полная карточка товара
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductDetails'
        '404':
          description: Товар не найден

  /cart:
    get:
      tags: [cart]
      summary: Получить корзину текущего пользователя
      operationId: getCart
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Содержимое корзины
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cart'
    delete:
      tags: [cart]
      summary: Полностью очистить корзину текущего пользователя
      operationId: clearCart
      security:
        - bearerAuth: []
      responses:
        '204':
          description: Корзина успешно очищена (все товары удалены)
        '401':
          description: Не авторизован

  /cart/items:
    post:
      tags: [cart]
      summary: Добавить товар в корзину
      operationId: addToCart
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CartItemRequest'
      responses:
        '201':
          description: Товар добавлен
        '409':
          description: Недостаточно товара на складе

  /cart/items/{productId}:
    patch:
      tags: [cart]
      summary: Изменить количество товара в корзине
      operationId: updateCartItemQuantity
      security:
        - bearerAuth: []
      parameters:
        - name: productId
          in: path
          required: true
          schema: { type: integer }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [quantity]
              properties:
                quantity:
                  type: integer
                  minimum: 1
      responses:
        '200':
          description: Количество обновлено
        '409':
          description: Недостаточно товара

    delete:
      tags: [cart]
      summary: Удалить товар из корзины
      operationId: removeFromCart
      security:
        - bearerAuth: []
      parameters:
        - name: productId
          in: path
          required: true
          schema: { type: integer }
      responses:
        '204':
          description: Товар удалён из корзины

  /orders:
    post:
      tags: [orders]
      summary: Создать заказ
      description: |
        Создаёт заказ на основе корзины.
        Автоматически резервирует товары (уменьшает stock).
        Если недостаточно хотя бы одного товара — откат, 409.
        После успеха корзина очищается.
      operationId: createOrder
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrderRequest'
      responses:
        '201':
          description: Заказ создан, товары зарезервированы
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '409':
          description: Недостаточно товара на складе
        '400':
          description: Некорректные данные заказа

    get:
      tags: [orders]
      summary: Список заказов текущего пользователя
      operationId: getUserOrders
      security:
        - bearerAuth: []
      parameters:
        - name: page
          in: query
          schema: { type: integer, default: 1 }
        - name: limit
          in: query
          schema: { type: integer, default: 10 }
      responses:
        '200':
          description: Страница заказов
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersPage'

  /orders/{orderId}:
    get:
      tags: [orders]
      summary: Детали конкретного заказа
      operationId: getOrderById
      security:
        - bearerAuth: []
      parameters:
        - name: orderId
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Детали заказа
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '404':
          description: Заказ не найден

  /orders/{orderId}/cancel:
    post:
      tags: [orders]
      summary: Отменить заказ
      description: |
        Отменяет заказ и освобождает зарезервированные остатки.
        Возможно только для статусов new и processing.
      operationId: cancelOrder
      security:
        - bearerAuth: []
      parameters:
        - name: orderId
          in: path
          required: true
          schema: { type: string }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
      responses:
        '200':
          description: Заказ отменён, остатки освобождены
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '400':
          description: Отмена невозможна (уже собран / доставлен)
        '404':
          description: Заказ не найден

  # Админ-функции
  /admin/products:
    post:
      tags: [admin]
      summary: Создать новый товар
      operationId: createProduct
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductCreateRequest'
      responses:
        '201':
          description: Товар создан
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'

  /admin/products/{productId}:
    put:
      tags: [admin]
      summary: Обновить товар
      operationId: updateProduct
      security:
        - bearerAuth: []
      parameters:
        - name: productId
          in: path
          required: true
          schema: { type: integer }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductUpdateRequest'
      responses:
        '200':
          description: Товар обновлён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
    delete:
      tags: [admin]
      summary: Удалить товар
      operationId: deleteProduct
      security:
        - bearerAuth: []
      parameters:
        - name: productId
          in: path
          required: true
          schema: { type: integer }
      responses:
        '204':
          description: Товар удалён

  /admin/orders:
    get:
      tags: [admin]
      summary: Получить список всех заказов (с фильтрами)
      operationId: getAdminOrders
      security:
        - bearerAuth: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [new, processing, ready, completed, cancelled]
        - name: startDate
          in: query
          schema: { type: string, format: date }
        - name: endDate
          in: query
          schema: { type: string, format: date }
        - name: customerId
          in: query
          schema: { type: integer }
        - name: page
          in: query
          schema: { type: integer, default: 1 }
        - name: limit
          in: query
          schema: { type: integer, default: 50 }
      responses:
        '200':
          description: Страница заказов
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersPage'

  /admin/orders/{orderId}:
    get:
      tags: [admin]
      summary: Получить полный заказ с данными клиента
      operationId: getOrderWithCustomerDetails
      security:
        - bearerAuth: []
      parameters:
        - name: orderId
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Заказ + данные клиента
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderWithCustomer'

    patch:
      tags: [admin]
      summary: Изменить статус заказа (админ)
      description: При смене на cancelled → автоматически освобождаются остатки
      operationId: updateOrderStatus
      security:
        - bearerAuth: []
      parameters:
        - name: orderId
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status:
                  type: string
                  enum: [processing, ready, completed, cancelled]
                comment:
                  type: string
      responses:
        '200':
          description: Статус обновлён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    RegisterRequest:
      type: object
      required: [email, password, firstName, phone]
      properties:
        email: { type: string, format: email }
        password: { type: string, minLength: 8 }
        firstName: { type: string }
        lastName: { type: string }
        phone: { type: string }

    LoginRequest:
      type: object
      required: [email, password]
      properties:
        email: { type: string, format: email }
        password: { type: string }

    AuthResponse:
      type: object
      properties:
        id: { type: integer }
        email: { type: string }
        firstName: { type: string }
        lastName: { type: string }
        token: { type: string }

    User:
      type: object
      properties:
        id: { type: integer }
        email: { type: string }
        firstName: { type: string }
        lastName: { type: string }
        phone: { type: string }
        role: { type: string, enum: [user, admin] }

    Product:
      type: object
      properties:
        id: { type: integer }
        name: { type: string }
        description: { type: string }
        price: { type: number, format: double }
        brand: { type: string }
        animalType: { type: string }
        category: { type: string }
        weightKg: { type: number, format: double }
        image: { type: string, format: uri }
        stock: { type: integer, description: "Доступный остаток после резервов" }

    ProductDetails:
      allOf:
        - $ref: '#/components/schemas/Product'
        - type: object
          properties:
            images: { type: array, items: { type: string, format: uri } }
            features: { type: array, items: { type: string } }
            storeAvailability:
              type: array
              items:
                $ref: '#/components/schemas/StoreAvailability'

    StoreAvailability:
      type: object
      properties:
        storeId: { type: string }
        storeName: { type: string }
        address: { type: string }
        quantity: { type: integer }

    ProductsPage:
      type: object
      properties:
        data: { type: array, items: { $ref: '#/components/schemas/Product' } }
        meta:
          type: object
          properties:
            currentPage: { type: integer }
            perPage: { type: integer }
            total: { type: integer }

    CartItemRequest:
      type: object
      required: [productId, quantity]
      properties:
        productId: { type: integer }
        quantity: { type: integer, minimum: 1 }

    CartItem:
      type: object
      properties:
        productId: { type: integer }
        name: { type: string }
        quantity: { type: integer }
        price: { type: number, format: double }
        total: { type: number, format: double }
        image: { type: string, format: uri }

    Cart:
      type: object
      properties:
        items: { type: array, items: { $ref: '#/components/schemas/CartItem' } }
        totalAmount: { type: number, format: double }
        deliveryCost: { type: number, format: double }
        finalAmount: { type: number, format: double }

    CreateOrderRequest:
      type: object
      required: [deliveryType, recipient]
      properties:
        deliveryType: { type: string, enum: [pickup, delivery] }
        pickupStoreId: { type: string }
        deliveryAddress:
          $ref: '#/components/schemas/Address'
        recipient:
          $ref: '#/components/schemas/Recipient'
        paymentMethod: { type: string, enum: [online, cash_on_delivery] }
        comment: { type: string }

    Address:
      type: object
      properties:
        city: { type: string }
        street: { type: string }
        house: { type: string }
        apartment: { type: string }

    Recipient:
      type: object
      required: [firstName, phone]
      properties:
        firstName: { type: string }
        lastName: { type: string }
        phone: { type: string }

    Order:
      type: object
      properties:
        id: { type: string }
        status: { type: string, enum: [new, processing, ready, completed, cancelled] }
        totalAmount: { type: number, format: double }
        deliveryType: { type: string, enum: [pickup, delivery] }
        items: { type: array, items: { $ref: '#/components/schemas/CartItem' } }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }

    OrderWithCustomer:
      allOf:
        - $ref: '#/components/schemas/Order'
        - type: object
          properties:
            customer:
              type: object
              properties:
                id: { type: integer }
                email: { type: string }
                firstName: { type: string }
                lastName: { type: string }
                phone: { type: string }

    OrdersPage:
      type: object
      properties:
        data: { type: array, items: { $ref: '#/components/schemas/Order' } }
        meta:
          type: object
          properties:
            currentPage: { type: integer }
            perPage: { type: integer }
            total: { type: integer }

    ProductCreateRequest:
      type: object
      required: [name, price, stock, brand, animalType, category]
      properties:
        name: { type: string }
        description: { type: string }
        price: { type: number, format: double }
        stock: { type: integer }
        brand: { type: string }
        animalType: { type: string }
        category: { type: string }
        weightKg: { type: number, format: double }
        image: { type: string, format: uri }

    ProductUpdateRequest:
      type: object
      properties:
        name: { type: string }
        description: { type: string }
        price: { type: number, format: double }
        stock: { type: integer }
        image: { type: string, format: uri }

    Error:
      type: object
      properties:
        message: { type: string }
        code: { type: string }